static/workflows/telegram_karakeep.json
{
  "name": "Telegram channel to Karakeep",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// LLamr mediante {{$node[\"vars\"].json.TG_SHERLINK_BOT_TOKEN}}\nreturn [{\n  json: {\n    // Variables de Telegram\n    TG_SHERLINK_BOT_TOKEN: $env.TG_SHERLINK_BOT_TOKEN,\n    TG_SHERLINK_ID: $env.TG_SHERLINK_ID,\n\n    // ReadDeck vars\n    READECK_SERVER: $env.READECK_SERVER,\n    READECK_API_KEY: $env.READECK_API_KEY,\n\n    // Hoarder vars\n    HOARDER_SERVER: $env.HOARDER_SERVER,\n    HOARDER_API_KEY: $env.HOARDER_API_KEY\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -1488
      ],
      "id": "ebebedd1-296d-4efb-b911-0595f2f5e67a",
      "name": "vars"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        608,
        -1488
      ],
      "id": "35f2c1de-dde4-40b6-93ea-fada33c7545d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        352,
        -1248
      ],
      "id": "851a8b2d-299d-44b2-88ba-5584bd89459d",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "create",
        "url": "={{ $('Loop Over Items').item.json.url }}"
      },
      "type": "n8n-nodes-karakeep.karakeep",
      "typeVersion": 1,
      "position": [
        2160,
        -1248
      ],
      "id": "5053c73e-a28e-402c-bc6f-584a96aff62c",
      "name": "Create a bookmark",
      "credentials": {
        "karakeepApi": {
          "id": "lA4GKp5NB9fAnsB3",
          "name": "Karakeep account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "searchQuery": "={{ $json.normalizedUrl }}",
        "searchOptions": {
          "includeContent": false
        }
      },
      "type": "n8n-nodes-karakeep.karakeep",
      "typeVersion": 1,
      "position": [
        880,
        -1232
      ],
      "id": "c2957750-4630-4afe-82ce-25f99b08f864",
      "name": "Search bookmarks",
      "executeOnce": true,
      "credentials": {
        "karakeepApi": {
          "id": "lA4GKp5NB9fAnsB3",
          "name": "Karakeep account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b6be33dc-16f9-487b-a1ae-cbd51f105518",
              "leftValue": "={{ $('news_normal').item.json.normalizedUrl }}",
              "rightValue": "={{ $json.normalizedUrl }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1904,
        -1136
      ],
      "id": "f95dbcf6-8ff5-4347-9edd-b246acd6650f",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "89b965ce-ce91-4fb0-8beb-bb7b38621732",
              "name": "url",
              "value": "={{\n  $json.channel_post?.entities\n    ?.filter(e => e.type === 'url')\n    .map(e =>\n      $json.channel_post.text.substring(\n        e.offset,\n        e.offset + e.length\n      )\n    ) || []\n}}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1696,
        -1488
      ],
      "id": "cd8c733b-f3cd-4e6b-bb18-dd1aa1a95881",
      "name": "urls"
    },
    {
      "parameters": {
        "fieldToSplitOut": "result",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1408,
        -1488
      ],
      "id": "c59b35f3-689d-487a-a123-c08808753c28",
      "name": "list"
    },
    {
      "parameters": {
        "chatId": "={{$node[\"vars\"].json.TG_SHERLINK_ID}}",
        "text": "={{ $('Loop Over Items').item.json.url }} - Guardado OK",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2368,
        -960
      ],
      "id": "638d0192-6763-46c0-b828-61de8a1986fc",
      "name": "Send message",
      "webhookId": "f2fa89da-2f06-408d-b1bf-91761eaf55bf",
      "notesInFlow": false,
      "credentials": {
        "telegramApi": {
          "id": "8GkZJxObTogqYGRS",
          "name": "Telegram Sherlinks"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{$node[\"vars\"].json.TG_SHERLINK_BOT_TOKEN}}/getUpdates ",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1136,
        -1488
      ],
      "id": "6ac3c86f-8d29-49d5-b7ef-f87ba2e95516",
      "name": "get_messages"
    },
    {
      "parameters": {
        "jsCode": "// URL original (ajusta el campo si no es \"url\")\nconst originalUrl = $json.url || $json.link || \"\";\n\n// Función de normalización\nfunction normalizeUrl(url) {\n  return url\n    .trim()\n    .replace(/^https?:\\/\\//i, '')     // quita http / https\n    .replace(/^www\\./i, '')           // quita www\n    .replace(/[?#].*$/, '')           // quita query y hash\n    .replace(/\\/$/, '')               // quita barra final\n    .toLowerCase();\n}\n\n// Devolvemos la URL normalizada\nreturn {\n  normalizedUrl: normalizeUrl(originalUrl)\n};\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        -1232
      ],
      "id": "f23811ae-4afd-4078-baa6-061e8a8716a1",
      "name": "news_normal"
    },
    {
      "parameters": {
        "jsCode": "function normalize(u) {\n  return u\n    .trim()\n    .replace(/^https?:\\/\\//i, '')\n    .replace(/^www\\./i, '')\n    .replace(/[?#].*$/, '')\n    .replace(/\\/$/, '')\n    .toLowerCase();\n}\n\nreturn items.map(item => ({\n  json: {\n    normalizedUrl: normalize(item.json.url),\n  }\n}));\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1648,
        -1136
      ],
      "id": "6aa97019-02db-4088-ae20-acabc53eda58",
      "name": "saved_normal"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b0b44997-e99e-4d04-817d-6a73a2028f6b",
              "name": "url",
              "value": "={{ $json.bookmarks[0].content.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        -1232
      ],
      "id": "b17533ab-de12-41fa-ba6e-aea87ce20f68",
      "name": "search_url"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e0c343b8-f9cf-4d91-add0-33bd50175f0c",
              "leftValue": "={{ $json.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1344,
        -1232
      ],
      "id": "6c74f139-bb87-4b29-a047-ec0c3f1976d8",
      "name": "If1"
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2025-12-23T11:30:17.021+01:00",
          "Readable date": "December 23rd 2025, 11:30:17 am",
          "Readable time": "11:30:17 am",
          "Day of week": "Tuesday",
          "Year": "2025",
          "Month": "December",
          "Day of month": "23",
          "Hour": "11",
          "Minute": "30",
          "Second": "17",
          "Timezone": "Europe/Madrid (UTC+01:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "vars": {
      "main": [
        [
          {
            "node": "get_messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "news_normal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a bookmark": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search bookmarks": {
      "main": [
        [
          {
            "node": "search_url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create a bookmark",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "urls": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "list": {
      "main": [
        [
          {
            "node": "urls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_messages": {
      "main": [
        [
          {
            "node": "list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "news_normal": {
      "main": [
        [
          {
            "node": "Search bookmarks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "saved_normal": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "search_url": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Create a bookmark",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "saved_normal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "21e43101-e032-419b-b908-9bb3637ab241",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8fb543b511022c43ab705107ba101545bb8b0fdb9bd6ebc4cca28dc9591a036e"
  },
  "id": "YP1C4oZbVM1gGyLs",
  "tags": [
    {
      "updatedAt": "2025-12-14T18:18:45.149Z",
      "createdAt": "2025-12-14T18:18:45.149Z",
      "id": "CSDydgwq9IOtGTCK",
      "name": "Telegram"
    },
    {
      "updatedAt": "2025-12-14T18:18:50.450Z",
      "createdAt": "2025-12-14T18:18:50.450Z",
      "id": "q2biv46SkDKdmvaB",
      "name": "Karakeep"
    }
  ]
}